@charset "UTF-8";
body{
	background-color: #DADAD9;
	color: #696765;
	font-family: 'Noto Sans KR', sans-serif;
}

input{
	border: 0 none;
}

a{
	cursor: pointer;
}

/* header */

.header-wrapper{
   display: flex;
   flex-direction: column;
   position: fixed;
   width: 100%;
   background-color: #DADAD9;
   display: block;
   z-index:999;
   top:0%; /**/
}

.header-section{
   display: flex;
   align-items: center;
   justify-content: space-between;
   top: 0%;
   width: 100%;
   height: 10vh;
   border-bottom: 1px solid;
}


.top-logo-text{
   margin-left: 5%;
   font-size: 5vh;
   font-weight: bold;
   color: #696765;
}

.top-right{
   display: flex;
   justify-content: space-around;
   margin-right: 5%;
   color: #696765;
}

/* section */

.content{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 40vh;
	width: 60vh;
	align-items: center;
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-login{
	font-size: 3vh;
}

.frm_login{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 85%;
	height: 40%;
	align-items: center;
}

.lab_login{
	width: 70%;
	height: 4vh;
	text-align: center;
}

.pic-login {
    margin-right: 3%;
}

.input_login {
    width: 80%;
    height: 80%;
    padding-left: 3%;
}

.btn_login{
	background-color: rgb(000,153,255);
	width: 70%;
	height: 5vh;
	color: white;
	font-size: 1.8vh;
}

.link-login{
	display: flex;
	justify-content: space-between;
	width: 70%;
}

.link{
	color: rgb(000,153,255);
	text-decoration: underline;
	font-size: 1.3vh;
}

.btn-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55%
}

.btn_naver-login{
	width: 100%;
	height: 5vh;
	margin-bottom: 5%;
}

.btn_kakao-login{
	width: 100%;
	height: 5vh;
}

/* footer */

.bottom{
   height:15vh;
   background-color: #DADAD9;
   color: #696765;
   bottom: 0;
   position: absolute;
   width: 100%;
}

.bottom_main{
   font-weight: bold;
   height: 2vh;
   padding-left: 1%;
   padding-top: 1%;
   
}

.bottom_left{
   padding-left: 1%;
}

.bottom_content{
   display: flex;
   justify-content: space-between;
}

.bottom_right{
   padding-right: 1%;
}